body {
    background-color: #ffffff;
}

.custom-nav {
    position: relative;
    background-color: #ffffff;
    z-index: 15; /* Set a higher z-index value to make it appear above the background */
}

.background {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
}

.custom-nav a:hover {
    color: #ffb7d5;
    background-color: #ffffff;
}

.custom-nav li.nav-item.nav-link.active {
    color: #ffb7d5;
    background-color: #ffffff;
}

.custom-nav a {
    float: left;
    color: #000000;
    font-family: Gill Sans, sans-serif, cursive;
    letter-spacing: .07em;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    background-color: #ffffff;
}

.image-container img {
    position: absolute;
}

.top-left {
    top: 68px;
    left: 0;
    z-index: -1;
    width: 400px;
}

.bottom-right {
    right: 0;
    bottom: 0;
    width: 400px;
}

@keyframes type {
    0%,
    100% {
        width: 0px;
    }
    30%,
    60% {
        width: 394.09px;
    }
}

@media(max-width: 330px) {
    .typing h1 {
        font-size: 3rem;
        animation: type 5s steps(10) infinite;
    }

    @keyframes type {

        0%,
        100% {
            width: 0px;
        }

        30%,
        60% {
            width: 305px;
        }
    }
}

.box {
    border-radius: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ffffff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s linear;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.intro {
    left: 7.5%;
    white-space: nowrap;
    position: absolute;
    top: 22%;
    font-size: 40px;
    z-index: 2;
    font-family: Gill Sans, sans-serif, cursive;
    font-weight: 650;
    color: #ffaad1;
    overflow: hidden;
    border-right: .07em solid black;
    margin: 0 auto;
    letter-spacing: .10em;
    animation: typing 1.5s steps(14) forwards, blink 1s ease-in 10s infinite;
    animation-delay: 1.5s;
    animation-fill-mode: both;

}

@keyframes blink { 50% { border-color:#fff ; }  }


/* The typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 45%;
    }
}

.description {
    position: absolute;
    line-height: 1.2;
    z-index: 1;
    left: 8%;
    top: 30%;
    width: 380px;
    font-size: 18px;
    letter-spacing: .10em;
    font-family: "Times, Times New Roman, serif";
    animation: fade 2.5s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

.descriptionTwo {
    position: absolute;
    line-height: 1.2;
    z-index: 1;
    left: 8%;
    top: 45%;
    width: 380px;
    font-size: 18px;
    letter-spacing: .10em;
    font-family: "Times, Times New Roman, serif";
    animation: fade 2.5s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn i {
    transform: translateX(-50%);
    font-size: 45px;
}

.btn-linkedin {
    position: absolute;
    left: 23%;
    color: #ffe0e6;
    bottom: 10%;
}

.btn-github {
    left: 38%;
    position: absolute;
    color: #f6deba;
    bottom: 10%;
}

.btn-envelope {
    color: #d1e7bc;
    position: absolute;
    left: 53%;
    bottom: 10%;
}

.btn-person {
    color: #c5f7fe;
    position: absolute;
    left: 68%;
    bottom: 10%;
}

.cartoon {
    width: 350px;
    height: 230px;
    position: absolute;
    left: 53%;
    bottom: 30%;
}

.tab-content .tab-pane {
    display: none;

}

.tab-content .tab-pane.active {
    display: block;
}


.about-text {
    width: 400px;
    height: 700px;
    left: 20%;
    top: 20%;
    color: #000000;
}

.about-text {
    letter-spacing: .10em;
    font-family: "Georgia, serif";
}

.background {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1; /* Set the desired opacity value */
}

.me {
    width: 380px;
    height: 500px;
    position: absolute;
    left: 53%;
    top: 10%;
}

.about-text {
    position: absolute;
    left: 7%;
    top: 9%;
}

.welcome {
    font-size: 25px;
    top: 50%;
}

.experienceHeader {
    font-family:Georgia, serif;
    font-size:27px;
    padding-top:15px;
    padding-left: 40px;
}

.experienceBody {
    font-family:Georgia, serif;
    font-size:16px;
    color:black;
    padding-top:5px;
    padding-left: 40px;
    margin-bottom: 0;
}

.experienceDate {
    margin-top: 0;
    font-family:Georgia, serif;
    font-size:15px;
    color:black;
    padding-left: 40px;
}

.about-me {
    font-size: 16px;
    top: 58%
}

.squiggle {
    width: 200px;
    height: 30px;
    top: 60%;
}

.email {
    font-size: 18px;
    font-weight: 300;
    top: 70%;
}

.rectangle2 {
    border-radius: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ffffff;
    left: 17%;
    position: absolute;
    top: 16%;
    width: 950px;
    height: 600px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s linear;
}

.project {
    border-radius: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ffffff;
    width: 520px;
    height: 450px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s linear;
    transition: box-shadow 0.3s ease;
    position: relative;
}

.project:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Darker shadow on hover */
}

.project a {
    font-size: 20px;
    font-family: Gill Sans, sans-serif, cursive;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 20px;
    padding-left: 30px;
}

.projectpic {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 40%;
    border-radius: 0;
}

.projectTitle {
    position: absolute;
    top: 45%;
    padding-left: 30px;
    font-size: 23px;
    font-weight: bold;
    font-family:Gill Sans, sans-serif, cursive;
    padding-top:10px;
}

.projectDate {
    position: absolute;
    top: 52%;
    padding-left: 30px;
    font-size: 20px;
    font-family:"Georgia, serif";
    padding-top:10px;
}

.projectDescription {
    font-weight: lighter;
    position: absolute;
    top: 60%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-family:"Georgia, serif";
    padding-top:10px;
}

.allProjects {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 2.5rem;
    grid-column-gap: 0rem;
}

/* screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .allProjects { grid-template-columns: repeat(1, 1fr); }
}

/* screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .allProjects { grid-template-columns: repeat(2, 1fr); }
}
